@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Paletas */

    --preto-100: #232323;
    --preto-50: #273140;

    --verde-50: #588157;
    --verde-100: #344E41;
    --vermelho: #E63946;
    --marrom: #BFB29F;
    --amarelo: #FFBE0B;

    --branco-50: #f1faee;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: var(--branco-50);
    user-select: none;
    overflow: hidden;
    -webkit-app-region: no-drag;
}

.icones {
    font-family: fontAwesome;
    color: #f1faee;
    font-style: normal;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.topIcon {
    background-color: transparent;
    outline: none;
    border: none;
    width: fit-content;
}

.topBar {
    display: flex;
}


#topLog {
    width: 20px;
    padding-bottom: .5em ;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    /* width: 60%; */
    column-gap: 1em;
    padding: .5em .5em;
    align-items: center;
    
    background-color: var(--preto-100);
    -webkit-app-region: drag;
    /* display: none; */
    cursor: pointer;
}


#topCont {
    background-color: var(--verde-50);
    /* width: 40%; */
    -webkit-app-region: drag;
    cursor: pointer;
}

#minimize {
    color: var(--verde-50);
}
#maximize {
    color: var(--amarelo);
}

#close {
    width: 25px;
    color: var(--vermelho)
}